.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.link {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 2, 179); 
    padding: 0 2rem; 
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color: white;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 0 2rem; 
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}