.h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    justify-self: center;
    border: 1px lightgray solid;
    padding: 15px;
}